<!DOCTYPE html>
<html lang="en">

<!-- Icon -->
<link rel="icon" href="/icon">

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="/css">
<link rel="stylesheet" type="text/css" href="/bootstrap">

<!-- Enable JavaScript message -->
<noscript class="text-center">
    <strong><p class="alert-info">IMPORTANT</p></strong>
    <p>For full functionality of this site it is necessary to enable JavaScript.</p>
    <p>Here are the <a href="https://www.enable-javascript.com/" target="_blank">instructions how to enable JavaScript
        in your web browser</a>.</p>
</noscript>

<head>
    <meta charset="UTF-8">
    <!-- Viewport META tag for mobile screen scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BBC - Pair Programming</title>
</head>

<!-- Auto-Boostrap of the Angular Application and Controller using ngApp and ngController directives -->
<body ng-app="pairApp" ng-controller="PairController" ng-cloak>
<div class="card container">

    <!-- The form in which the fields are automatically injected. ngCloak prevents displaying uncompiled information -->
    <div class="container flex-container" ng-cloak>
        <div class="panel-body px-nested-panel-body flex-item">

            <!-- Disabling the default validation mechanism since the application uses its own custom validation-->
            <form autocomplete="off" novalidate ng-cloak>

                <!-- Custom directive where the fields are injected dynamically -->
                <formly-form model="pairModel" fields="pairFields" form="pairForm">

                    <!-- Validation error for duplicate values shown when the flag is set to TRUE-->
                    <p ng-if="hasDuplicateError === true" class="message">{{duplicateErrorMsg}}</p>

                    <!-- Buttons to add and remove fields -->
                    <button class="btn btn-info" ng-click="addField()"><strong>Add</strong></button>
                    <!-- Remove button that removes the last field element. Hidden if there is only one field -->
                    <button class="btn btn-danger" ng-if="pairFields.length > 1" ng-click="removeField()">
                        <strong>Remove</strong>
                    </button>
                    <!-- Button that calls the generatePairs function for generating the possible pair combinations -->
                    <button type="button"
                            class="btn btn-primary pairBtn"
                            ng-disabled="pairForm.$invalid || pairsGenerated === true"
                            ng-click="generatePairs()"> Generate Pairs
                    </button>
                </formly-form>
            </form>

        </div>
    </div>

    <!-- The ngRepeat directive displays the results by iterating through the output array and return the pairs  -->
    <div ng-if="pairsGenerated === true" class="paddingLeft30">
        <hr/>
        <h5>The weekly Developers pairs are the following:</h5>
        <div ng-repeat="dev in namesList track by $index" class="row paddingLeft20">
            <strong>{{dev}}</strong>
        </div>
        <hr/>
    </div>
    <!-- Custom Validation Template that will display errors when a condition has been met (e.g Form is invalid) -->
    <script type="text/ng-template" id="error-messages.html">
        <formly-transclude></formly-transclude>
        <div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
            <div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages" class="message">
                {{ message(fc.$viewValue, fc.$modelValue, this)}}
            </div>
        </div>
    </script>

    <!-- Notes -->
    <div class="notes paddingLeft30">
        <p></p><strong>Notes: </strong></p>
        <p>Please provide the names you would like to generate pair combinations</p>
        <p>Click The <strong>Add</strong> button to add a new field</p>
        <p ng-if="pairFields.length > 1">Click The <strong>Remove</strong> button to remove the last field</p>
        <hr/>
    </div>

    <!-- The footer -->
    <footer>&copy; 2017 <a href="https://fdl5@bitbucket.org/fdl5/find-a-pair.git#readme" target="_blank">Alexios Fadl</a></footer>
</div>

<!-- Vendor dependencies -->
<script src="/apiCheck"></script>
<script>apiCheck.globalConfig.disabled = true;</script>
<script type="text/javascript" src="/angular"></script>
<script src="/angular-messages"></script>
<script src="/angular-mocks"></script>
<script src="/angular-animate"></script>
<script src="formly"></script>
<script src="formlyBootstrap"></script>

<!-- Angular App -->
<script type="text/javascript" src="/js"></script>
</body>
</html>