/** Default styling **/

body {
  -webkit-font-smoothing: antialiased;
  min-width: 100px;
}

footer {
  text-align: center;
  padding-bottom: 10px;
}

hr {
  &.hr-style {
    border-top: 1px;
  }
}

.card {
  /* Shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 50px;
}

.pairBtn {
  float: right;
}

.notes {
  font-size: .9em;
}

.paddingLeft20 {
  padding-left: 20px !important;
}

.paddingLeft30 {
  padding-left: 30px !important;
}