/** Form partial **/
/** Field and Validation styling **/
.formly-field {
  margin-bottom: 10px; }

.error-messages {
  position: relative; }

.error-messages, .message {
  opacity: 1;
  transition: .3s linear all; }

.message {
  font-size: .9em;
  position: relative;
  width: 100%;
  color: #a94442;
  margin-top: 1px;
  padding: 0 !important; }

.error-messages.ng-enter.ng-enter-active,
.message.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0; }

.error-messages.ng-enter,
.message.ng-enter {
  opacity: 0;
  top: -10px; }

.error-messages.ng-leave,
.message.ng-leave {
  opacity: 1;
  top: 0; }

.error-messages.ng-leave-active,
.message.ng-leave-active {
  opacity: 0;
  top: -10px; }

/** Default **/
/** Default styling **/
body {
  -webkit-font-smoothing: antialiased;
  min-width: 100px; }

footer {
  text-align: center;
  padding-bottom: 10px; }

hr.hr-style {
  border-top: 1px; }

.card {
  /* Shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 50px; }

.pairBtn {
  float: right; }

.notes {
  font-size: .9em; }

.paddingLeft20 {
  padding-left: 20px !important; }

.paddingLeft30 {
  padding-left: 30px !important; }

/*# sourceMappingURL=stylesheet.css.map */